/* место для вашего кода */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 92px 24px 24px;

    min-height: 105px;
}

.header__nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.nav {
    grid-column-start: 1;
    grid-column-end: 6;
    align-content: center;
    font-size: 18px;
    letter-spacing: 0.01em;
}

.nav__list {
    display: flex;
    column-gap: 25px;
    list-style: circle;
}

.header__logo {
    grid-column-start: 6;
    grid-column-end: 7;
    width: 148px;
    height: 105px;
}

.header__adress {
    grid-column-start: 9;
    grid-column-end: 12;
    align-content: center;

    max-width: 240px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #000;
}

.header-nav__list {
    list-style: none;
}

/* Cover */

.cover {
    position: relative;
    color: #fff;
    margin-top: 100px;
    padding: 165px 50px 50px;
    background: url(../images/cover.jpg) center no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__wrapper {
    position: relative;
}

.cover__title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: calc(100 / 100 * 100%);
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.align-text_left {
    line-height: calc(115 / 100 * 100%);
}

.align-text_center {
    text-align: center;
}

.align-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.cover__description {
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    margin-left: 28px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: calc(28 / 22 * 100%);
    text-transform: uppercase;
    word-spacing: 0.84em;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #fff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: calc(26 / 22 * 100%);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: transparent;
    cursor: pointer;
}

/* Lots */

.lots {
    margin-top: 180px;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    height: 563px;
    width: 334px;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg) center no-repeat;
    background-size: cover;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg) center no-repeat;
    background-size: cover;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg) center no-repeat;
    background-size: cover;
}

.card__link {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
}

.card__text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #fff;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
}